*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body{
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.setting-container{
    width: 95vw;
    height: auto;
    padding: 3em 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #00000011;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.input{
    border: 0;
    border-bottom: 1px solid black;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
}

.input_but{
    padding: 1em 2em;
    background-color: rgb(32, 32, 32);

    border-radius: 10px;
    color: white;
    border: 0;

    margin-right: 0;
    margin-left: auto;
}
.main-container{
    width: 95vw;
    height: auto;
    max-height: 45em;
    padding: 1.5em 5em;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 2em;
    justify-content: center;align-items: center;
    border-radius: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #00000011;
    overflow: hidden;
    overflow-y: auto;
}
.card-music{
    width: 15em;
    height: 20em;

    background-color: #ffffff;
    border: 3px solid #b8b8b8;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.text-card-music{
    width: 100%;
    height: min-content;
    font-size: 5em;
    text-align: center;
    

}
.name-tonality{
    position: relative;
    bottom: 0.4em;
    font-size: 7em;
}
.sign-symbol{
    text-align: end;
}
.container_checkbox-card{
    display: flex;
    align-items: center;
    justify-content: center;
}
.settings-card{
    width: 95vw;
    height: auto;
    max-height: 15em;

    border-radius: 10px;

    background-color: #00000011;
    overflow: hidden;
    overflow-y: auto;

    padding: 1.5em 1em;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    gap: 2em;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
    
}
.checkbox-card{
    width: 0;
    height: 0;
    visibility: hidden;
}
.checkbox-card + label{
    height: 5em;
    width: 3.5em;
    background-color: #ffffff;
    border: 3px solid #b8b8b8;

    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin: 0 0.2em;
}
.checkbox-card:checked + label{
    opacity: 0.5;
}
@media(max-width: 1520px){
    .main-container{
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 2em;
    }
}
@media(max-width: 1200px){
    .main-container{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 2em;
    }.input{
        font-size: 1.7em;
    }
    .label-input{
        font-size: 1.7em;
    }
    .input_but{
        font-size: 1.3em;
    }
    .settings-card{
        gap: 0.3em;
        
    }
}
