*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body{
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.setting-container{
    width: 95vw;
    height: auto;
    padding: 3em 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #00000011;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.input{
    width: auto;
    max-width: 3em;
    border: 0;
    border-bottom: 1px solid black;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
}

.input_but{
    padding: 0.5em;
    background-color: rgb(32, 32, 32);

    border-radius: 50%;
    color: white;
    border: 0;

    margin-right: 0;
    margin-left: auto;
    
}
.main-container{
    width: 95vw;
    height: auto;
    max-height: 45em;
    padding: 1.5em 1em;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 2em;
    justify-content: center;align-items: center;
    border-radius: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #00000011;
    overflow: hidden;
    overflow-y: auto;
}
.card-music{
    width: 15em;
    height: 20em;

    background-color: #ffffff;
    border: 3px solid #b8b8b8;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.text-card-music{
    width: 100%;
    height: min-content;
    font-size: 5em;
    text-align: center;
    

}
.name-tonality{
    position: relative;
    bottom: 0.4em;
    font-size: 7em;
}
.name-tonality-septaccord{
    position: relative;
    top: 0.4em;
    font-size: 4em;
}
.sign-symbol{
    text-align: end;
}
.sign-symbol-septaccord{
    position: relative;
    top: 0.4em;
    text-align: center;
    font-size: 4em
}
.container_checkbox-card{
    display: flex;
    align-items: center;
    justify-content: center;
}
.settings-card{
    width: 95vw;
    height: auto;
    max-height: 15em;

    border-radius: 10px;

    background-color: #00000011;
    overflow: hidden;
    overflow-y: auto;

    padding: 1.5em 1em;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    gap: 2em;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
    
}
.checkbox-card{
    width: 0;
    height: 0;
    visibility: hidden;
}
.checkbox-card + label{
    height: 5em;
    width: 3.5em;
    background-color: #ffffff;
    border: 3px solid #b8b8b8;

    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin: 0 0.2em;

    opacity: 0.5;
}
.checkbox-card:checked + label{
    opacity: 1;
}
.radio-but-settign_container{
    width: 95vw;
    height: 10em;
    max-height: 30em;
    padding: 1.5em 1em;


    display: flex;
    justify-content: center;
    align-items: center;
}
.radio-but_menu {
    visibility: hidden;
    width: 0;
    height: 0;
}
.radio-but_menu + label{
    min-width: 6em;
    padding: 2em;
    background-color: #ffffff;
    border: 2px solid #b8b8b8;
    border-radius: 10px;
    text-align: center;
}
.radio-but_menu:checked + label{
    background-color: #b8b8b8;
}
.radio-container{
    width: auto;
    height: auto;
}
.tab-2{
    display: none;
}
.label-input{
    height: max-content;
    margin-top: auto;
    margin-bottom: 0;
}
@media(max-width: 1520px){
    .main-container{
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 2em;
    }
}
@media(max-width: 1200px){
    .main-container{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 2em;
    }.input{
        font-size: 1.7em;
    }
    .label-input{
        font-size: 1.7em;
    }
    .input_but{
        font-size: 2em;
    }
    .settings-card{
        gap: 0.3em;
    }
}
@media(max-width: 988px){
    .settings-card{
        grid-template-columns: auto auto auto auto auto auto;
    }
    
}
@media(max-width:844px){
    .settings-card{
        grid-template-columns: auto auto auto auto auto;
    }
    .card-music{
        font-size: 0.8em;
    }
}
@media(max-width:700px){
    .settings-card{
        grid-template-columns: auto auto auto auto auto auto auto;
    }
    .checkbox-card + label{
        font-size: 1.3em;
    }
    .card-music{
        font-size: 0.7em;
    }
}
@media(max-width:640px){
    .setting-container{
        padding: 1em 1.5em;
    }
    .checkbox-card + label{
        font-size: 1.1em;
    }
    .card-music{
        font-size: 0.6em;
    }
    .main-container{
        max-height: 35em;
    }
}
@media(max-width:540px){
    .settings-card{
        gap: 0;
    }
    .setting-container{
        padding: 1em 1.5em;
    }
    .checkbox-card + label{
        font-size: 0.9em;
    }
    .card-music{
        font-size: 0.45em;
    }
    .label-input{
        font-size: 1.1em;
    }
    .input_but{
        font-size: 0.9em;
    }
    .input{
        font-size: 0.9em;
    }

    .radio-container{
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    .radio-but-settign_container{
        height: 15em;
    }
}
@media(max-width:420px){
    .settings-card{
        gap: 0;
    }
    .setting-container{
        padding: 1em 1.5em;
    }
    .checkbox-card + label{
        font-size: 0.8em;
    }
    .card-music{
        font-size: 0.4em;
    }
    .main-container{
        gap: 1em;
        max-height: 25em;
    }
}
@media(max-width:372px){
    .checkbox-card + label{
        font-size: 0.7em;
    }
}
@media(max-height:570px){
    .settings-card{
        display: none;
    }
    .setting-container{
        display: none;
    }
    .main-container{
        grid-template-columns: auto auto auto auto auto;
        border-radius: 0;
        width: 100vw;
    }
    .card-music{
        font-size: 0.4em;
    }
    .radio-but-settign_container{
        display: none;
    }
}